
<div class="d-flex proj-prin justify-content-center">
<div class="d-flex flex-column justify-content-center">
  <div class="sobre">
    <h2> Como jogar Bulls and Cows? </h2>
    <ol>
      <li>O objetivo é adivinhar o número secreto de 6 dígitos únicos.</li>
      <li>Após inserir um palpite, você receberá:<ul><li>Bulls: Dígitos corretos na posição certa.</li><li>Cows: Dígitos corretos na posição errada.</li></ul></li>
      <li>Use o feedback para ajustar seus palpites.</li>
      <li>Vença ao acertar todos os 6 dígitos na posição certa (6 Bulls).</li>
    </ol>
  </div>
  <div class="jogo-container">
    <h1>Bulls e Cows</h1>
    <p>Tente adivinhar o número secreto de 6 dígitos!</p>

    <form (ngSubmit)="enviarPalpite()">
      <input
        type="text"
        [(ngModel)]="palpite"
        name="palpite"
        maxlength="6"
        required
        placeholder="Digite seu palpite (6 dígitos)"
      />
      <button type="submit">Enviar</button>
    </form>

    <div *ngIf="resposta">
      <p><strong>Bulls:</strong> {{ resposta.bulls }}</p>
      <p><strong>Cows:</strong> {{ resposta.cows }}</p>
    </div>

    <h3>Histórico de Palpites</h3>
    <ul>
      <li *ngFor="let tentativa of historicoDePalpites">
        {{ tentativa.palpite }} - Bulls: {{ tentativa.bulls }}, Cows: {{ tentativa.cows }}
      </li>
    </ul>
  </div>
</div>

</div>

