<p>
  Sou desenvolvedor front-end com expertise em Angular, criando aplicações web
  dinâmicas, escaláveis e focadas em alta performance. Além do domínio em
  Angular, utilizo Bootstrap e Flex-box para criar layouts responsivos e
  eficientes, juntamente com SCSS/SASS para estilização avançada. Minha
  abordagem no desenvolvimento vai além do código, integrando princípios de
  UX/UI para garantir que as interfaces ofereçam uma experiência fluida,
  intuitiva e agradável ao usuário.
</p>

<p>
  Com sólida experiência nas principais tecnologias de front-end, procuro sempre
  entregar soluções robustas, aliando design e funcionalidade para atender às
  necessidades específicas de cada projeto. Tenho paixão por transformar ideias
  em interfaces de alta qualidade, sempre buscando otimizar a usabilidade e a
  satisfação do usuário. Estou sempre em busca de novos desafios que me permitam
  aplicar meu conhecimento técnico e minha paixão por design centrado no
  usuário.
</p>
