.cont{

  border-radius: 20px;
  padding: 20px !important;
  max-width: 500px;
  margin: 10px;

}

.main{
  width: 75% !important;
}

h1{
  color: #fff;
  font-size: 40px;
  font-weight: 600;
  margin: 20px ;
  margin-top: 5px !important;
}

.links{
  width: 32%;
}

.tst{
  width: 100% !important;
}

hr{
  background-color: #fff;
  width: 70%;
  height: 2px;
  border: none;
}

.proj-prin{
  margin-top: 20px ;
}


.b-1{
  border: 5px solid #2c699e;
}

.b-2{
  border: 5px solid #ff316c;

}

.profile-img{
  background-size: contain ;
  background-image: url(/1715045377023.jpeg);
  width: 300px !important;
  height: 300px !important;
  border-radius: 20% !important;
}
