<div class="d-flex flex-row justify-content-center">
  <h1>Daniel Luna Paiva</h1>
</div>
<div class="  d-flex flex-row justify-content-evenly">
<div class="d-flex main justify-content-evenly flex-row">
  <div class="d-flex cont  justify-content-center flex-column align-content-center">
    <div class="tst d-flex flex-row justify-content-center">
      <div class="profile-img cont"></div>
    </div>


  </div>

  <div class="d-flex flex-wrap justify-content-evenly">
    <div class="cont yo">
      <app-about></app-about>
    </div>
  </div>
</div>

</div>


  <div class="justify-content-evenly d-flex ">

    <div class="cont links">
      <app-links></app-links>
    </div>
  </div>

<div class="justify-content-center d-flex ">

  <hr>
</div>
<div class="justify-content-center d-flex ">

  <div class="cont exp">
    <app-exp></app-exp>
  </div>
</div>


