@import 'bootstrap/scss/bootstrap';

body{
  background-color: #23211f;

}


a, p {
  color: #fff !important;

  font-family: "Poppins", sans-serif;

  font-size: 13px;
}


h1{
  font-family: "Poppins", sans-serif;
}
