<div class="main d-flex flex-column justify-content-center">
<h1 class="title"> Experiencias </h1>
  <div class="cont d-flex flex-column justify-content-center">
    <h1> Estagiário de desenvolvimento web </h1>
    <h3>  Prefeitura da Cidade do Recife </h3>
    <label> jul - out/24</label>
    <p>No estágio em desenvolvimento front-end, adquiri experiência prática com Angular,
      aprofundando meu conhecimento em criação de componentes, gerenciamento de estados,
      e consumo de APIs para construir aplicações dinâmicas. Aprendi a aplicar boas práticas
      de organização de código e otimização de performance, garantindo interfaces intuitivas e
      responsivas. Essa experiência tem sido essencial para aprimorar minhas habilidades e
      entregar soluções funcionais e eficientes.</p>
  </div>
  <div class="cont d-flex flex-column justify-content-center">
    <h1>  Mentor - Voluntário </h1>
    <h3>   ETE Ginásio Pernambucano </h3>
    <label>  jul/23 - jul/24</label>
    <p> Prestação de aulas de eletivas e mentorias relacionadas a área de inovação, empreendedorismo, pitch...
    </p>
  </div>
  <div class="cont d-flex flex-column justify-content-center">
    <h1>   Sócio-fundador </h1>
    <h3>   Hopping - Startup </h3>
    <label>  jul/23 - jul/24</label>
    <p> Empresa com finalidade educacional e beneficente para a ETE Ginásio Pernambucano.
    </p>
  </div>
</div>
